<!DOCTYPE html>
<head>
  <title>TextBook Swap</title>
	<meta name="description" content="Textbook Swap">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="resource/myItems.css">
  <script src="index.js"></script>
</head>
<body>
  <% include partial/header.ejs %>

  <% include partial/user-navigation.ejs %>
<section>
  <nav>
    <% include partial/site-navigation.ejs %>

    <p id="breadcrumbs"> Home > My Books</p>

  </nav>
  </section>

  <article>
    <h1>Your Textbooks</h1>
    <table>
  <tr>
    <th>TextBook</th>
    <th>Category</th>
    <th>My Rating</th>
    <th>Swapped</th>
  </tr>
  
  <%for (var item in Book){%>
      <tr>
        <td><%=Book[item].itemName%></td>
        <td><%=Book[item].catalogCategory%></td>
        <td><%=Book[item].uRating%></td>
        <td> &#x2611;
          <form action="?action=update&theItem=<%=Book[item].itemCode%>" method="POST">
            <button>Update</button>
          </form>
          <form action="?action=delete&theItem=<%=Book[item].itemCode%>" method="POST">
            <button>Delete</button>
          </form>
        </td>
      </tr>

  <%}%>



  
</table>
</article>


<% include partial/footer.ejs %>

</body>
</html>
