<!DOCTYPE html>
<head>
  <title>TextBook Swap</title>
	<meta name="description" content="Textbook Swap">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="resource/myItems.css">
  <script src="index.js"></script>
</head>
<body>
  <% include partial/header.ejs %>

  <% include partial/user-navigation.ejs %>
<section>
  <nav>
    <% include partial/site-navigation.ejs %>

    <p id="breadcrumbs"> Home > My Books</p>

  </nav>
  </section>

  <article>
    <h1>Your Textbooks for swap</h1>
    <table>
    <tr>
    <th>Book ID</th>
    <th>Swap Offer</th>
    <th>Rating</th>
    <th>Action</th>
    </tr>
    <%for (var item in Book){%>
      <tr>
         <%if (Book[item].itemStatus == "pending"){%>
        <td><%=Book[item].itemCodeOwn%></td>
        <td><%=Book[item].itemCodeWant%></td>
        <td><%=Book[item].rating%></td>
        <td> 
            
          <form action="?action=accept&theItem=<%=Book[item].itemCodeOwn%>" method="POST">
            <button>Accept</button>
          </form>
          <form action="?action=reject&theItem=<%=Book[item].itemCodeOwn%>" method="POST">
            <button>Reject</button>
          </form>
          
          <form action="?action=withdraw&theItem=<%=Book[item].itemCodeOwn%>" method="POST">
            <button>Withdraw swap</button>
            </form>
            <%}%>

        </td>
      </tr>

  <%}%>
    
    </table>
</article>


<% include partial/footer.ejs %>

</body>
</html>
