<!DOCTYPE html>
<head>
  <title>TextBook Swap</title>
	<meta name="description" content="Textbook Swap">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/../resource/item.css">
  <script src="index.js"></script>
</head>
<body>
  <% include partial/header.ejs %>

  <% include partial/user-navigation.ejs %>
<section>
  <nav>
    <% include partial/site-navigation.ejs %>

    <p id="breadcrumbs"> Home > Swap Book</p>

  </nav>

  
  <article>
    <h1><%=book.itemName%></h1>
    <h5><%=book.author%></h5>
    <div id="imgButton">
      <img src="<%=book.imageUrl%>" alt="bookImage"/>
      <br />
    </div>
    <p>
      <b><%=book.itemName%></b>
       <%=book.des%>
    </p>
    <h3>Select an item from your available swaps</h3>
    <%for(var item in myBooks){
      if(myBooks[item].Status == "available"){%>
        <form action="?action=swapStart&theItem=<%=myBooks[item].itemCode%>&myItem=<%=book.itemCode%>" method="POST">
            <button><%=myBooks[item].itemName%></button>
        </form>
      <%}}%>
  </article>
</section>

<% include partial/footer.ejs %>


</body>
</html>
